---
title: Initial Class Quest
category: ['Class Quests']
character: ['Caspian']
cp: 17
url: https://www.deviantart.com/stokori/art/WoR-Date-on-the-Beach-Caspian-ICQ-1094668615
---

<ul>
    <li>Fullbody + 2</li>
    <li>Colored + 3</li>
    <li>Shaded + 2</li>
    <li>Finished background + 2</li>
    <li>Land Bonus + 1 (Warrenfall)</li>
    <li>Personal work + 3</li>
    <li>Added Reos + 2 ([Romeo 14461](https://www.deviantart.com/reos-empire/art/Romeo-14461-899400751)/[[S-T1] Zest 7926](https://www.deviantart.com/reos-empire/art/S-T1-Zest-7926-782626413))</li>
    <li>Initial Class Quest + 2</li>
</ul>

Total = 17