<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ '/tailwind.css' | url }}">
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
        <script defer src="/js/alpine.js"></script>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Stokori's Reos Tracker</title>
    </head>
    <body>
        <div>
        <div class="w-full grid grid-cols-1 sm:grid-cols-2 sm:flex">
            {% include "_navigation.njk" %}
            <main class="flex-1 p-5 prose-sm md:prose-base lg:prose-lg prose-slate">
                {% block content %}
                    {{ content | safe }}
                {% endblock %}
                        <footer class="text-center mt-7 mb-5">
            <small>tracker created by
                <a href="https://github.com/perappu/arpg-tracker-11ty">perappu</a>
            </small>
        </footer>
            </main>
        </div>

        </div>
    </body>
</html>