{% extends "./base.njk" %}
{% block content %}
  <h1>{{ title }}</h1>
  <div class="flex flex-row items-center justify-between">
    <div class="basis-1/4 text-center">
      {{ import | embed | safe }}
    </div>
    <div class="basis-3/4 ml-5 text-left">
      <div class="text-left">
        {{ content | safe }}
      
      <hr class="!mb-3 !mt-3" />
      <div class="text-center">
        Total CP: {{ collections.images | byCategory(category) | byCharacter(title) | cpTotal }}
        </div>
        </div>
    </div>
  </div>
  {% if collections.characterCategories|length %}
    {% for category in collections.characterCategories %}
      {% if collections.characterCategories|length %}
        {% for image in collections.images | byCategory(category) | byCharacter(title) %}
          {% if loop.first %}
            <h2>{{ category }}</h2>
            <div class="grid grid-cols-3 gap-4">
            {% endif %}
            <div class="flex flex-col items-center">
              {{ image.data.url | embed | safe }}
              <!-- <a href="/character/{{ title }}/{{ image.fileSlug }}">Full View</a> -->
              Total CP: {{ image.data.cp }}
              <div x-data="{ opened: false }">
                <div class="text-center ">
                  <button class="bg-slate-500 rounded text-white pl-3 pr-3" @click="opened = ! opened">Click for CP Breakdown</button>
                </div>
                <div class="text-sm" x-show="opened" x-collapse>
                  {{ image.content | safe }}
                </div>
              </div>
            </div>
            {% if loop.last %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}