{% extends "./base.njk" %}
{% block content %}


    <h1>{{ title }}</h1>
<a href="javascript:history.back()"><- Go Back</a>
        <div class="flex flex-row items-center justify-between">
            <div class="basis-1/4 text-center">
                {{ url | embedImageOnly | safe }}
            </div>
            <div class="basis-3/4 ml-5 text-left">
                <div class="text-left">
                    CP: {{ cp }}
                    {{ content | safe }}
                </div>
            </div>
        </div>
    {% endblock %}