---
permalink: genos.html
layout: base
---

{% block content %}
<h1>Genos</h1>
<div class="grid grid-cols-4 gap-4  text-sm">
    <div>
        (Female - Vayron - Puller - Healthy)
        <br>
        F: Lisse Coat
        <br>
        T: Long Ears, Puff Tail, Goat Eyes
        <br>
        P: Leopard Dusted Bleached Scarlet
        <br>
        G: Sca+nLp/Du/nBe
        <br>
        Carriers: Geode, Crystallized
        <br>
        <a href="https://wor-keeper.com/comment/3630#comment-3668">Proof</a>
    </div>
    <div>
        (Female - Vayron - Runner - Healthy)
        <br>
        F: Lisse Coat
        <br>
        T: Silken Ears, Medium Tail, Feline Eyes
        <br>
        P: Striped Oriental Pecan with Caribou Blanket and Diamond
        <br>
        G: Pec+nSt/nCb/Or/Bl/Di
        <br>
        <a href="https://wor-keeper.com/comment/3630#comment-3668">Proof</a>
    </div>
</div>
{% endblock %}