---
title: Faulkner
character: ['Faulkner']
layout: character_layout
import: https://www.deviantart.com/reos-empire/art/Faulkner-17130-1095153658
---

A mail carrier based in Roenden. Insecure, despite being perfectly capable. Frequently leans on his companions for support.

Bonded companion is <a href="https://www.deviantart.com/stokori/art/1096908960)">Beckett</a>.